<div class="profile-container">
    <div class="profile-wrapper">
        <div class="profile-banner-wrapper"></div>
        <div class="profile-avatar-container">
            <div class="profile-avatar-wrapper">
                <img src="{{$root.common.getProfilePicture($ctrl.profileData._id)}}" height="90" width="90">
            </div>
        </div>
        <div class="profile-details-container">
            <div class="profile-details-wrapper">
                <div class="profile-name-container">
                    <span><strong>{{$ctrl.profileData.displayname}}</strong></span>
                    <span ng-if="$ctrl.profileData.verified" style="color: #5289bf;">&nbsp;&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i></span>
                </div>
                <div class="profile-account-container">
                    <span>@{{$ctrl.profileData.username}}</span>
                    <div class="followsMe" ng-if="$ctrl.profileData.isFollowingMe">Follows You</div>
                </div>
                <div class="profile-actions-conainer">
                    <button class="btn btn-sm btn-primary" ng-disabled="0 == 0" ng-if="$ctrl.profileData.ownAccount == true"><strong>Edit Account</strong></button>
                    <button class="btn btn-sm btn-primary" ng-disabled="0 == 0" ng-if="!$ctrl.profileData.ownAccount"><strong>Follow</strong></button>
                </div>
            </div>
        </div>
        <div class="profile-description-container">
            <span ng-if="$ctrl.profileData.description && !($ctrl.profileData.suspended == true)">{{$ctrl.profileData.description}}</span>
        </div>
        <div class="profile-stats-container">
            <div class="stat-contianer" style="border-right: 2px solid #dadada;">
                <span class="clickable-text">{{$ctrl.profileData.stats.followers}} Follower<span ng-if="$ctrl.profileData.stats.followers > 1 || $ctrl.profileData.stats.followers == 0">s</span></span>
            </div>
            <div class="stat-contianer">
                <span class="clickable-text">{{$ctrl.profileData.stats.following}} Following</span>
            </div>
        </div>

    
        <div class="post-wrapper" ng-click="$root.common.clickPost(p._id, $root.common.getCurrentPath())" ng-class="{post_reply_padding: p.isReply == true}" ng-repeat="p in $ctrl.posts track by $index">
            <div class="post-reply-banner" ng-if="p.isReply == true">
                <strong style="font-size: 10px; color: white;"><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Reply to @{{p.parentFromData.username}}</strong>
            </div>
            <div class="post-side">
                <div class="post-avatar-wrapper" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();">
                    <div class="post-avatar">
                      <img src="{{$root.common.getProfilePicture(p.from)}}" height="50" width="50">
                    </div>
                </div>
            </div>
            <div class="post-main" style="position: relative; overflow: hidden;">
                <div class="post-account-info">
                    <span style="float: left; width: fit-content;">
                        <strong class="clickable-text" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();" style="color: rgb(17, 17, 17);">{{p.fromData.displayname}}</strong>
                        &nbsp;<span class="clickable-text" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();">@{{p.fromData.username}}</span>&nbsp;&nbsp;•&nbsp;&nbsp;
                        <span>{{$ctrl.genRelativeTimestamp(p.createdAt)}}</span>
                    </span>
                    <span class="post-options-icon">
                        <i class="fa fa-ellipsis-h" aria-hidden="true" style="margin-top: 4px;"></i>
                    </span>
                </div>
                <div class="post-content" id="post-body-{{p._id}}"></div>
                <div class="post-image-wrapper" ng-if="p.image">
                    <img src="{{$ctrl.getPostPictureSrc(p)}}" style="width: 100%; height: auto; border-radius: 4px;">
                </div>
                <div class="post-controls">
                    <div class="row light-text" style="height: 100%;">
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-com" ng-click="$root.common.clickPostComment(p._id, $root.common.getCurrentPath()); $event.stopPropagation();">
                        <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.comments}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-rep" ng-if="$ctrl.user.id != p.from" ng-hide="p.hasRepost" ng-click="$ctrl.repost(p); $event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-rep-self" ng-if="$ctrl.user.id == p.from" ng-click="$event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-rep" ng-if="$ctrl.user.id != p.from" style="color: #2ccc54;" ng-hide="!p.hasRepost" ng-click="$ctrl.unrepost(p); $event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-fav" ng-hide="p.hasLiked" ng-click="$ctrl.likePost(p); $event.stopPropagation();">
                        <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{p.likes}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-fav" style="color: #ff3e3e;" ng-hide="!p.hasLiked" ng-click="$ctrl.unlikePost(p); $event.stopPropagation();">
                        <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{p.likes}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-com">
                        <i class="glyphicon glyphicon-share" aria-hidden="true"></i>
                      </div>
                    </div>
                </div>
            </div>

        </div>










    </div>
</div>
<style>
    .post-reply-banner {
        width: 100%;
        height: 15px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(82, 136, 191, 0.75);
        display: flex;
        align-items: center;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 2px;
    }
    .stat-contianer {
        float: left;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile-stats-container {
        width: 100%;
        height: 35px;
        background-color: #e4e4e4;
        border-bottom: 2px solid #c4c4c4;
        border-top: 1px solid #dddddd;
        float: left;
        margin-top: 10px;
    }
    .profile-actions-conainer {
        width: fit-content;
        height: 100%;
        float: right;
        display: flex;
        align-items: center;
        margin-right: 25px;
    }
    .profile-container {
        width: 100%; 
        height: 100%; 
        padding: none; 
        margin: none;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1;
    }
    .profile-description-container {
        /* width: 100%; */
        width: calc(100% - 80px);
        margin-left: 40px;
        margin-right: 40px;
        height: fit-content;
        margin-top: 65px;
        position: relative;
        margin-bottom: 10px;
        float: left;
    }

    .profile-banner-wrapper {
        width: 100%;
        height: 180px;
        background-color: #4b81b8;
        border-radius: 0px 0px 10px 10px;
        float: left;
    }

    .profile-avatar-container {
        position: absolute;
        left: 25px;
        top: 130px;
        height: 100px;
        width: 100px;
        background-color: #ececec;
        border-radius: 50%;
    }

    .profile-avatar-wrapper {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin: 5px;
        overflow: hidden;
    }

    .profile-name-container {
        width: fit-content;
        height: 24px;
        position: absolute;
        top: 5px;
        bottom: 0px;
        display: flex;
        align-items: center;
        font-size: large;
        font-weight: bold;
    }

    .profile-details-wrapper {
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
    }

    .profile-details-container {
        width: calc(100% - 140px);
        height: 54px;
        position: absolute;
        top: 182px;
        right: 0px;
    }

    .profile-account-container {
        width: fit-content;
        height: 15px;
        position: absolute;
        left: 0px;
        bottom: 12px;
        display: flex;
        align-items: center;
        font-size: small;
    }

    .profile-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
    }


    /* -------------------- */

    .post-ctrl-com {
        transition: background-color 150ms linear;
    }
    .post-ctrl-rep {
        transition: background-color 150ms linear;
    }
    .post-ctrl-rep-self {
        color: #4c4c4c;
    }
    .post-ctrl-fav {
        transition: background-color 150ms linear;
    }
    .post-ctrl-com:hover { 
        color: #319bdd; 
        font-weight: bold;
    }
    .post-ctrl-rep:hover {
        color: #41d366;
        font-weight: bold;
    }
    .post-ctrl-fav:hover {
        color: #fa5353;
        font-weight: bold;
    }
    .post-ctrl-col {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .post-controls {
        width: 100%;
        height: 40px;
        margin-top: 5px;
    }
    .post-account-info {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        color: rgb(36, 36, 36);
    }
    .post-content {
        width: calc(100% - 15px);
        height: fit-content;
        margin-top: 6px;
        cursor: default;
    }
    .post-main {
        width: calc(100% - 80px);
        height: 100%;
        float: left;
    }
    .post-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }
    .post-avatar-wrapper {
        width: 100%;
        margin-top: 10px;
        height: calc(100% - 10px);
        display: flex;
        justify-content: center;
    }
    .post-side {
        width: 80px;
        height: 100%;
        float: left;
    }
    .post-wrapper {
        width: 100%;
        height: fit-content !important;
        /* min-height: 200px; */
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        /* background-color: blue; */
        overflow: hidden;
        border-bottom: 1px solid rgb(185, 185, 185);
        background-color: rgba(0, 0, 0, 0);
        position: relative;
    }
    .post-wrapper:hover {
        background-color: rgba(99, 99, 99, 0.025);
    }
    .post-options-icon {
        right: 20px; 
        top: 10px; 
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; 
        font-size: large; 
        color: rgba(154, 154, 154, 0.85);
        border-radius: 50%;
        transition: background-color 150ms linear;
    }
    .post-options-icon:hover {
        background-color: rgba(255, 255, 255, 0.085);
    }
    .post-content {
        width: calc(100% - 15px);
        height: fit-content;
        margin-top: 0px;
    }
    .post_reply_padding {
        padding-top: 15px;
    }
</style>