<div style="width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto;">

    <div class="create-post-container">
        <div class="cpc-text-wrapper">
            <textarea class="cpc-textarea" ng-model="$ctrl.newpostText" placeholder="Write a post..." re></textarea>
        </div>
        <div class="cpc-toolbar-wrapper">
            <button class="btn btn-sm btn-primary pcp-post-btn" ng-disabled="$ctrl.newpostText.length == 0" ng-click="$ctrl.createNewPost()">
                Post
            </button>
        </div>
    </div>
    <div class="post-list-cont">
        <div class="post-wrapper" ng-click="$root.common.clickPost(p._id, '/')" ng-repeat="p in $ctrl.posts track by $index">
            <div class="post-side">
                <div class="post-avatar-wrapper" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();">
                    <div class="post-avatar">
                      <img src="{{$root.common.getProfilePicture(p.from)}}" height="50" width="50">
                    </div>
                </div>
            </div>
            <div class="post-main" style="position: relative; overflow: hidden;">
                <div class="post-account-info">
                    <span style="float: left; width: fit-content;">
                        <strong class="clickable-text" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();" style="color: rgb(17, 17, 17);">{{p.fromData.displayname}}</strong>
                        &nbsp;<span class="clickable-text" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();">@{{p.fromData.username}}</span>&nbsp;&nbsp;•&nbsp;&nbsp;
                        <span>{{$ctrl.genRelativeTimestamp(p.createdAt)}}</span>
                    </span>
                    <span class="post-options-icon">
                        <i class="fa fa-ellipsis-h" aria-hidden="true" style="margin-top: 4px;"></i>
                    </span>
                </div>
                <div class="post-content" id="post-body-{{p._id}}"></div>
                <div class="post-controls">
                    <div class="row light-text" style="height: 100%;">
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-com">
                        <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.comments}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-rep" ng-if="$ctrl.user.id != p.from" ng-hide="p.hasRepost" ng-click="$ctrl.repost(p); $event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-rep-self" ng-if="$ctrl.user.id == p.from" ng-click="$event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-rep" ng-if="$ctrl.user.id != p.from" style="color: #2ccc54;" ng-hide="!p.hasRepost" ng-click="$ctrl.unrepost(p); $event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-fav" ng-hide="p.hasLiked" ng-click="$ctrl.likePost(p); $event.stopPropagation();">
                        <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{p.likes}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-fav" style="color: #ff3e3e;" ng-hide="!p.hasLiked" ng-click="$ctrl.unlikePost(p); $event.stopPropagation();">
                        <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{p.likes}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-com">
                        <i class="glyphicon glyphicon-share" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
            </div>

        </div>

    </div>

</div>
<style>
    .post-ctrl-com {
        transition: background-color 150ms linear;
    }
    .post-ctrl-rep {
        transition: background-color 150ms linear;
    }
    .post-ctrl-rep-self {
        color: #4c4c4c;
    }
    .post-ctrl-fav {
        transition: background-color 150ms linear;
    }
    .post-ctrl-com:hover { 
        color: #319bdd; 
        font-weight: bold;
    }
    .post-ctrl-rep:hover {
        color: #41d366;
        font-weight: bold;
    }
    .post-ctrl-fav:hover {
        color: #fa5353;
        font-weight: bold;
    }
    .post-ctrl-col {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .post-controls {
        width: 100%;
        height: 40px;
        margin-top: 5px;
    }
    .post-account-info {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        color: rgb(36, 36, 36);
    }
    .post-content {
        width: calc(100% - 15px);
        height: fit-content;
        margin-top: 6px;
    }
    .post-main {
        width: calc(100% - 80px);
        height: 100%;
        float: left;
    }
    .post-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }
    .post-avatar-wrapper {
        width: 100%;
        margin-top: 10px;
        height: calc(100% - 10px);
        display: flex;
        justify-content: center;
    }
    .post-side {
        width: 80px;
        height: 100%;
        float: left;
    }
    .post-wrapper {
        width: 100%;
        height: fit-content !important;
        /* min-height: 200px; */
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        /* background-color: blue; */
        overflow: hidden;
        border-bottom: 1px solid rgb(185, 185, 185);
        background-color: rgba(0, 0, 0, 0);
    }
    .post-wrapper:hover {
        background-color: rgba(99, 99, 99, 0.025);
    }
    .post-list-cont {
        width: 100%;
        height: fit-content;
        min-height: 50px;
    }
    .create-post-container {
        width: 100%;
        height: fit-content;
        min-height: 190px;
        background-color: #e7e7e7;
        border-bottom: 1px solid rgb(185, 185, 185);
    }

    .cpc-text-wrapper {
        width: 100%;
        height: fit-content;
        min-height: 140px;
        /* background-color: green; */
        float: left;
        border-bottom: 1px solid rgb(185, 185, 185);
    }

    .cpc-toolbar-wrapper {
        width: 100%;
        height: 50px;
        /* background-color: rgb(226, 226, 226); */
        float: left;
        /* display: flex; */
        /* align-items: center; */
        /* background-color: rgb(210, 210, 210); */
    }
    .pcp-post-btn {
        /* margin-left: auto; */
        /* order: 2; */
        float: right;
        margin-right: 20px;
        margin-top: 4px;
    }
    .cpc-textarea {
        width: calc(100% - 40px);
        height: fit-content;
        margin: 20px;
        min-height: 100px;
        resize: none;
        outline: none;
        border: none;
        border-radius: 10px;
        /* text-indent: 12px; */
        background-color: #eeeeee;
        font-size: medium;
        padding: 10px;
    }
    .post-options-icon {
        right: 20px; 
        top: 10px; 
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; 
        font-size: large; 
        color: rgba(58, 58, 58, 0.85);
        border-radius: 50%;
        transition: background-color 150ms linear;
        cursor: pointer;
    }
    .post-options-icon:hover {
        background-color: rgba(44, 44, 44, 0.085);
    }
</style>