<div style="width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto;">
    <div class="create-post-container">
        <div class="cpc-text-wrapper">
            <textarea class="cpc-textarea" ng-model="$ctrl.newpostText" placeholder="Write a post..." re></textarea>
        </div>
        <div class="cpc-image-wapper" ng-if="$ctrl.newPostImage != null">
            <img src="{{$ctrl.getPictureSrc()}}" style="width: calc(100% - 50px); height: auto; border: 1px solid #303030; border-radius: 6px;"/>
          <span class="cpc-image-cancel" ng-click="$ctrl.removePostImage()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
        </div>
        <div class="cpc-toolbar-wrapper">
            <div class="cpc-toolbar-item" style="margin-left: 20px !important;" onclick="document.getElementById('postImageInput').click()">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
            <div class="cpc-toolbar-item" onclick="document.getElementById('postImageInput').click()">
                <i class="fa fa-film" aria-hidden="true"></i>
            </div>
            <!-- <div class="cpc-toolbar-item">
                <i class="fa fa-music" aria-hidden="true"></i>
            </div>
            <div class="cpc-toolbar-item">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div> -->
            <button class="btn btn-sm btn-primary pcp-post-btn" ng-disabled="$ctrl.newpostText.length == 0 || $ctrl.newpostText.length > $ctrl.maxPostLength;" ng-click="$ctrl.createNewPost()">
                <strong>Post</strong>
            </button>
            <span class="pcp-post-len" ng-class="{post_len_invalid: $ctrl.newpostText.length > $ctrl.maxPostLength}">
                {{$ctrl.newpostText.length}} / {{$ctrl.maxPostLength}}
            </span>
        </div>
    </div>
    <div class="post-list-cont">
        <div class="post-wrapper" ng-click="$root.common.clickPost(p._id, '/')" ng-repeat="p in $ctrl.posts track by $index">
            <div class="post-side">
                <div class="post-avatar-wrapper" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();">
                    <div class="post-avatar">
                      <img src="{{$root.common.getProfilePicture(p.from)}}" height="50" width="50">
                    </div>
                </div>
            </div>
            <div class="post-main" style="position: relative; overflow: hidden;">
                <div class="post-account-info">
                    <span style="float: left; width: fit-content;">
                        <strong class="clickable-text" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();" style="color: rgb(17, 17, 17);">{{p.fromData.displayname}}</strong>
                        &nbsp;<span class="clickable-text" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();">@{{p.fromData.username}}</span>&nbsp;&nbsp;•&nbsp;&nbsp;
                        <span>{{$ctrl.genRelativeTimestamp(p.createdAt)}}</span>
                    </span>
                    <span class="post-options-icon">
                        <i class="fa fa-ellipsis-h" aria-hidden="true" style="margin-top: 4px;"></i>
                    </span>
                </div>
                <div class="post-content" id="post-body-{{p._id}}"></div>
                <div class="post-image-wrapper" ng-if="p.image">
                    <img src="{{$ctrl.getPostPictureSrc(p)}}" style="width: 100%; height: auto; border-radius: 4px;">
                </div>
                <div class="post-controls">
                    <div class="row light-text" style="height: 100%;">
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-com" ng-click="$root.common.clickPostComment(p._id, $root.common.getCurrentPath()); $event.stopPropagation();">
                        <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.comments}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-rep" ng-if="$ctrl.user.id != p.from" ng-hide="p.hasRepost" ng-click="$ctrl.repost(p); $event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-rep-self" ng-if="$ctrl.user.id == p.from" ng-click="$event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-rep" ng-if="$ctrl.user.id != p.from" style="color: #2ccc54;" ng-hide="!p.hasRepost" ng-click="$ctrl.unrepost(p); $event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-fav" ng-hide="p.hasLiked" ng-click="$ctrl.likePost(p); $event.stopPropagation();">
                        <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{p.likes}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-fav" style="color: #ff3e3e;" ng-hide="!p.hasLiked" ng-click="$ctrl.unlikePost(p); $event.stopPropagation();">
                        <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{p.likes}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 post-ctrl-col post-ctrl-com">
                        <i class="glyphicon glyphicon-share" aria-hidden="true"></i>
                      </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<input type="file" id="postImageInput" name="postImageInput" accept="image/png, image/jpeg, image/jpg" style="visibility: hidden;"/>
<style>
    .post-image-wrapper {
        width: calc(100% - 20px);
        height: fit-content;
        /* background-color: red; */
        margin-top: 16px;
        margin-bottom: 10px;
        margin-right: 20px;
        border-radius: 6px;
        overflow: hidden;
    }
    .cpc-image-cancel {
        width: 28px;
        height: 28px;
        background-color: #5289bf;
        position: absolute;
        right: 16px;
        top: 2px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #e7e7e7;
        font-size: 13px;
        cursor: pointer;
        color: #eeeeee;
    }

    .cpc-image-cancel:hover {
        background-color: #4172a3;
    }
    .cpc-image-wapper {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        float: left;
        position: relative;
        border-bottom: 1px solid rgba(185, 185, 185, 0.35);
    }
    .pcp-post-len {
        height: 36px !important;
        float: right;
        margin-right: 20px;
        margin-top: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }
    .post_len_invalid {
        color: rgb(212, 0, 0);
    }
    .post-ctrl-com {
        transition: background-color 150ms linear;
    }
    .post-ctrl-rep {
        transition: background-color 150ms linear;
    }
    .post-ctrl-rep-self {
        color: #4c4c4c;
    }
    .post-ctrl-fav {
        transition: background-color 150ms linear;
    }
    .post-ctrl-com:hover { 
        color: #319bdd; 
        font-weight: bold;
    }
    .post-ctrl-rep:hover {
        color: #41d366;
        font-weight: bold;
    }
    .post-ctrl-fav:hover {
        color: #fa5353;
        font-weight: bold;
    }
    .post-ctrl-col {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .post-controls {
        width: 100%;
        height: 40px;
        margin-top: 5px;
    }
    .post-account-info {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        color: rgb(36, 36, 36);
    }
    .post-content {
        width: calc(100% - 15px);
        height: fit-content;
        margin-top: 6px;
        cursor: default;
    }
    .post-main {
        width: calc(100% - 80px);
        height: 100%;
        float: left;
    }
    .post-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }
    .post-avatar-wrapper {
        width: 100%;
        margin-top: 10px;
        height: calc(100% - 10px);
        display: flex;
        justify-content: center;
    }
    .post-side {
        width: 80px;
        height: 100%;
        float: left;
    }
    .post-wrapper {
        width: 100%;
        height: fit-content !important;
        /* min-height: 200px; */
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        /* background-color: blue; */
        overflow: hidden;
        border-bottom: 1px solid rgb(185, 185, 185);
        background-color: rgba(0, 0, 0, 0);
    }
    .post-wrapper:hover {
        background-color: rgba(99, 99, 99, 0.025);
    }
    .post-list-cont {
        width: 100%;
        height: fit-content;
        min-height: 50px;
    }
    .create-post-container {
        width: 100%;
        height: fit-content;
        min-height: 190px;
        background-color: #e7e7e7;
        border-bottom: 1px solid rgb(185, 185, 185);
        position: relative;
        display: inline-block;
    }

    .cpc-text-wrapper {
        width: 100%;
        height: fit-content;
        min-height: 140px;
        /* background-color: green; */
        float: left;
        border-bottom: 1px solid rgba(185, 185, 185, 0.35);
    }
    .cpc-toolbar-item {
        height: 30px;
        width: 30px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 10px;
        cursor: pointer;
        color: #5289bf;
        margin-top: 6px;
        background-color: rgba(76, 76, 76, 0.0);
    }
    .cpc-toolbar-item:hover {
        background-color: rgba(76, 76, 76, 0.15);
        color: #4172a3;
    }
    .cpc-toolbar-wrapper {
        width: 100%;
        height: 50px;
        float: left;
    }
    .pcp-post-btn {
        /* margin-left: auto; */
        /* order: 2; */
        float: right;
        margin-right: 20px;
        margin-top: 4px;
    }
    .cpc-textarea {
        width: calc(100% - 40px);
        height: fit-content;
        margin: 20px;
        min-height: 100px;
        resize: none;
        outline: none;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
        /* text-indent: 12px; */
        background-color: #e2e2e2; /* #eeeeee */
        font-size: medium;
        padding: 10px;
    }
    .cpc-textarea:focus {
        background-color: #e9e9e9;
    }
    .post-options-icon {
        right: 20px; 
        top: 10px; 
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; 
        font-size: large; 
        color: rgba(58, 58, 58, 0.85);
        border-radius: 50%;
        transition: background-color 150ms linear;
        cursor: pointer;
    }
    .post-options-icon:hover {
        background-color: rgba(44, 44, 44, 0.085);
    }
</style>