<div style="width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto;">
    <div class="return-cont" ng-if="$ctrl.returnUrl && $ctrl.returnUrl.length > 0">
        <strong class="clickable-text" ng-click="$root.common.goToRoute($ctrl.returnUrl);">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            &nbsp;&nbsp;<span>Back</span>
        </strong>
    </div>

    <div class="parent-post-cont" ng-if="$ctrl.post.isReply == true;">
        <div class="parent-post-wrapper">
            <div class="comment-wrapper" ng-click="$root.common.clickPost($ctrl.parentPost._id, $root.common.getCurrentPath())">
                <div class="comment-side">
                    <div class="comment-avatar-wrapper" ng-click="$root.common.clickProfile($ctrl.parentPost.from); $event.stopPropagation();">
                        <div class="comment-avatar">
                          <img src="{{$root.common.getProfilePicture($ctrl.parentPost.from)}}" height="50" width="50">
                        </div>
                    </div>
                </div>
                <div class="comment-main" style="position: relative; overflow: hidden;">
                    <div class="comment-account-info">
                        <span style="float: left; width: fit-content;">
                            <strong class="clickable-text" ng-click="$root.common.clickProfile($ctrl.parentPost.from); $event.stopPropagation();" style="color: rgb(17, 17, 17);">{{$ctrl.parentPost.fromData.displayname}}</strong>
                            &nbsp;<span class="clickable-text" ng-click="$root.common.clickProfile($ctrl.parentPost.from); $event.stopPropagation();">@{{$ctrl.parentPost.fromData.username}}</span>&nbsp;&nbsp;•&nbsp;
                            <span>{{$ctrl.genPrettyTime($ctrl.parentPost.createdAt)}}</span>
                        </span>
                        <span class="comment-options-icon">
                            <i class="fa fa-ellipsis-h" aria-hidden="true" style="margin-top: 4px;"></i>
                        </span>
                    </div>
                    <div class="comment-content" id="post-body-{{$ctrl.parentPost._id}}"></div>
                    <div class="comment-controls">
                        <div class="row light-text" style="height: 100%;">
                          <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-com" ng-click="$root.common.clickPostComment($ctrl.parentPost._id, $root.common.getCurrentPath()); $event.stopPropagation();">
                            <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.parentPost.comments}}</span>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-rep" ng-if="$ctrl.user.id != $ctrl.parentPost.from" ng-hide="$ctrl.parentPost.hasRepost" ng-click="$ctrl.repostComment($ctrl.parentPost); $event.stopPropagation();">
                            <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.parentPost.reposts}}</span>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-rep-self" ng-if="$ctrl.user.id == $ctrl.parentPost.from" ng-click="$event.stopPropagation();">
                            <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.parentPost.reposts}}</span>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-rep" ng-if="$ctrl.user.id != $ctrl.parentPost.from" style="color: #2ccc54;" ng-hide="!$ctrl.parentPost.hasRepost" ng-click="$ctrl.unrepostComment(p); $event.stopPropagation();">
                            <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.parentPost.reposts}}</span>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-fav" ng-hide="$ctrl.parentPost.hasLiked" ng-click="$ctrl.likeComment($ctrl.parentPost); $event.stopPropagation();">
                            <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.parentPost.likes}}</span>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-fav" style="color: #ff3e3e;" ng-hide="!$ctrl.parentPost.hasLiked" ng-click="$ctrl.unlikeComment($ctrl.parentPost); $event.stopPropagation();">
                            <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.parentPost.likes}}</span>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-com">
                            <i class="glyphicon glyphicon-share" aria-hidden="true"></i>
                          </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        
        <div class="parent-spacer-wrapper">
            <div class="parent-spacer"></div>
        </div>
    </div>

    <div class="post-from-cont">
        <div class="post-avatar-wrapper" ng-click="$root.common.clickProfile($ctrl.post.from); $event.stopPropagation();">
            <div class="post-avatar">
              <img src="{{$root.common.getProfilePicture($ctrl.post.from)}}" height="50" width="50">
            </div>
        </div>
        <div class="post-uname-wrapper">
            <strong class="clickable-text" ng-click="$root.common.clickProfile($ctrl.post.from); $event.stopPropagation();" style="color: rgb(17, 17, 17);">{{$ctrl.post.fromData.displayname}}</strong>
            &nbsp;&nbsp;<span class="clickable-text" ng-click="$root.common.clickProfile($ctrl.post.from); $event.stopPropagation();">@{{$ctrl.post.fromData.username}}</span>
        </div>
    </div>
    <div class="post-text-cont">
        <div class="post-content" id="post-body-{{$ctrl.post._id}}"></div>
    </div>
    <div class="post-controls">
        <div class="post-control-wrapper">
            <div class="row light-text" style="height: 100%;">
                <div class="col-md-2 col-sm-2 col-xs-3 post-ctrl-col post-ctrl-com" ng-click="$ctrl.isCommenting = !$ctrl.isCommenting">
                  <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.post.comments}}</span>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 post-ctrl-col post-ctrl-rep" ng-if="$ctrl.user.id != $ctrl.post.from" ng-hide="$ctrl.post.hasRepost" ng-click="$ctrl.repost(p); $event.stopPropagation();">
                  <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.post.reposts}}</span>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 post-ctrl-col post-ctrl-rep-self" ng-if="$ctrl.user.id == $ctrl.post.from" ng-click="$event.stopPropagation();">
                  <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.post.reposts}}</span>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 post-ctrl-col post-ctrl-rep" ng-if="$ctrl.user.id != $ctrl.post.from" style="color: #2ccc54;" ng-hide="!$ctrl.post.hasRepost" ng-click="$ctrl.unrepost(p); $event.stopPropagation();">
                  <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.post.reposts}}</span>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 post-ctrl-col post-ctrl-fav" ng-hide="$ctrl.post.hasLiked" ng-click="$ctrl.likePost(p); $event.stopPropagation();">
                  <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.post.likes}}</span>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 post-ctrl-col post-ctrl-fav" style="color: #ff3e3e;" ng-hide="!$ctrl.post.hasLiked" ng-click="$ctrl.unlikePost(p); $event.stopPropagation();">
                  <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{$ctrl.post.likes}}</span>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 post-ctrl-col post-ctrl-com">
                  <i class="glyphicon glyphicon-share" aria-hidden="true"></i>
                </div>

                <div class="col-md-4 col-sm-4 hidden-xs post-ctrl-col" style="justify-content: right;">
                    {{$ctrl.timestamp}}
                </div>
            </div>
        </div>
    </div>
    <div class="post-comment-cont" ng-if="$ctrl.isCommenting == true">
        <div class="comment-input-wrapper">
            <textarea class="cpc-textarea" ng-model="$ctrl.commentText" placeholder="Write a comment..." re></textarea>
        </div>
        <div class="comment-toolbar-wrapper">
            <button class="btn btn-sm btn-primary pcp-post-btn" ng-disabled="$ctrl.commentText.length == 0 || $ctrl.commentText.length > $ctrl.maxPostLength;" ng-click="$ctrl.createReplyPost()">
                <strong>Post</strong>
            </button>
            <span class="pcp-post-len" ng-class="{post_len_invalid: $ctrl.commentText.length > $ctrl.maxPostLength}">
                {{$ctrl.commentText.length}} / {{$ctrl.maxPostLength}}
            </span>
        </div>
    </div>
    <div class="comments-wrapper">
        <span style="width: 100%; text-align: center; float: left; margin: 10px; color: #4c4c4c;" ng-hide="$ctrl.commentsLoaded == false" ng-if="$ctrl.comments.length == 0">No comments to display yet!</span>
        <div class="comment-wrapper" ng-click="$root.common.clickPost(p._id, $root.common.getCurrentPath())" ng-repeat="p in $ctrl.comments track by $index">
            <div class="comment-side">
                <div class="comment-avatar-wrapper" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();">
                    <div class="comment-avatar">
                      <img src="{{$root.common.getProfilePicture(p.from)}}" height="50" width="50">
                    </div>
                </div>
            </div>
            <div class="comment-main" style="position: relative; overflow: hidden;">
                <div class="comment-account-info">
                    <span style="float: left; width: fit-content;">
                        <strong class="clickable-text" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();" style="color: rgb(17, 17, 17);">{{p.fromData.displayname}}</strong>
                        &nbsp;<span class="clickable-text" ng-click="$root.common.clickProfile(p.from); $event.stopPropagation();">@{{p.fromData.username}}</span>&nbsp;&nbsp;•&nbsp;
                        <span>{{$ctrl.genRelativeTimestamp(p.createdAt)}}</span>
                    </span>
                    <span class="comment-options-icon">
                        <i class="fa fa-ellipsis-h" aria-hidden="true" style="margin-top: 4px;"></i>
                    </span>
                </div>
                <div class="comment-content" id="post-body-{{p._id}}"></div>
                <div class="comment-controls">
                    <div class="row light-text" style="height: 100%;">
                      <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-com" ng-click="$root.common.clickPostComment(p._id, $root.common.getCurrentPath()); $event.stopPropagation();">
                        <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.comments}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-rep" ng-if="$ctrl.user.id != p.from" ng-hide="p.hasRepost" ng-click="$ctrl.repostComment(p); $event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-rep-self" ng-if="$ctrl.user.id == p.from" ng-click="$event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-rep" ng-if="$ctrl.user.id != p.from" style="color: #2ccc54;" ng-hide="!p.hasRepost" ng-click="$ctrl.unrepostComment(p); $event.stopPropagation();">
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>{{p.reposts}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-fav" ng-hide="p.hasLiked" ng-click="$ctrl.likeComment(p); $event.stopPropagation();">
                        <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{p.likes}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-fav" style="color: #ff3e3e;" ng-hide="!p.hasLiked" ng-click="$ctrl.unlikeComment(p); $event.stopPropagation();">
                        <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;<span>{{p.likes}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 comment-ctrl-col comment-ctrl-com">
                        <i class="glyphicon glyphicon-share" aria-hidden="true"></i>
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .parent-post-wrapper {
        width: 100%;
        height: fit-content;
        /* background-color: blue; */
    }
    .parent-spacer {
        width: 6px;
        height: 40px;
        border-radius: 24px;
        background-color: #319bddd0;
    }
    .parent-spacer-wrapper {
        width: 100%;
        height: 80px;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(185, 185, 185, 0.35);
        background-color: rgb(228, 228, 228, 0.2);
    }
    .parent-post-cont {
        width: 100%;
        height: fit-content;
    }
    .comments-wrapper {
        height: fit-content;
        width: 100%;
    }
    .pcp-post-btn {
        float: right;
        margin-right: 20px;
        margin-top: 4px;
    }
    .pcp-post-len {
        height: 36px !important;
        float: right;
        margin-right: 20px;
        margin-top: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }
    .post_len_invalid {
        color: rgb(212, 0, 0);
    }
    .comment-toolbar-wrapper {
        width: 100%;
        height: 45px;
        /* float: left; */
        border-top: 1px solid rgb(185, 185, 185, 0.35);
        background-color: rgb(228, 228, 228, 0.35);
    }
    .cpc-textarea {
        width: calc(100% - 40px);
        /* width: 100%; */
        height: fit-content;
        /* margin: 0px; */
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        min-height: 100px;
        resize: none;
        outline: none;
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        /* text-indent: 12px; */
        background-color: #eeeeee;
        font-size: medium;
        padding: 10px;
    }
    .comment-input-wrapper {
        width: 100%;
        height: fit-content;
        /* float: left; */
    }
    .post-comment-cont {
        height: fit-content;
        width: 100%;
        border-bottom: 1px solid rgb(185, 185, 185, 0.5);
    }
    .return-cont {
        width: 100%;
        height: 40px;
        background-color: rgba(84, 138, 192, 0.75);
        border-bottom: 1px solid rgb(185, 185, 185, 0.5);
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .post-control-wrapper {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
        /* background-color: blue; */
    }
    .post-controls {
        width: 100%;
        height: 40px;
        /* margin-top: 5px; */
        border-bottom: 1px solid rgb(185, 185, 185);
        background-color: rgb(228, 228, 228, 0.35);
    }
    .post-content {
        width: calc(100% - 15px);
        height: fit-content;
        font-size: 16px;
        line-height: 24px;
        cursor: default;
        /* margin-top: 6px; */
    }
    .post-text-cont {
        width: 100%;
        height: fit-content;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
        /* background-color: green; */
        border-bottom: 1px solid rgb(185, 185, 185, 0.35);
    }
    .post-from-cont {
        width: 100%;
        height: 65px;
        background-color: rgb(228, 228, 228);
        overflow: hidden;
        border-bottom: 1px solid rgb(185, 185, 185, 0.65);
    }
    .post-avatar-wrapper {
        margin-left: 10px;
        width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
    }
    .post-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }
    .post-uname-wrapper {
        height: 65px;
        float: left;
        width: fit-content;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
    .post-ctrl-com {
        transition: background-color 150ms linear;
    }
    .post-ctrl-rep {
        transition: background-color 150ms linear;
    }
    .post-ctrl-rep-self {
        color: #4c4c4c;
    }
    .post-ctrl-fav {
        transition: background-color 150ms linear;
    }
    .post-ctrl-com:hover { 
        color: #319bdd; 
        font-weight: bold;
    }
    .post-ctrl-rep:hover {
        color: #41d366;
        font-weight: bold;
    }
    .post-ctrl-fav:hover {
        color: #fa5353;
        font-weight: bold;
    }
    .post-ctrl-col {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
    }

    /* -------------------------------- */

    .comment-wrapper {
        width: 100%;
        height: fit-content !important;
        /* min-height: 200px; */
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 6px;
        padding-bottom: 6px;
        /* background-color: blue; */
        overflow: hidden;
        border-bottom: 1px solid rgb(185, 185, 185);
        background-color: rgba(0, 0, 0, 0);
    }

    .comment-wrapper:hover {
        background-color: rgba(99, 99, 99, 0.025);
    }

    .comment-ctrl-com {
        transition: background-color 150ms linear;
    }
    .comment-ctrl-rep {
        transition: background-color 150ms linear;
    }
    .comment-ctrl-rep-self {
        color: #4c4c4c;
    }
    .comment-ctrl-fav {
        transition: background-color 150ms linear;
    }
    .comment-ctrl-com:hover { 
        color: #319bdd; 
        font-weight: bold;
    }
    .comment-ctrl-rep:hover {
        color: #41d366;
        font-weight: bold;
    }
    .comment-ctrl-fav:hover {
        color: #fa5353;
        font-weight: bold;
    }
    .comment-ctrl-col {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .comment-controls {
        width: 100%;
        height: 40px;
        margin-top: 5px;
    }
    .comment-account-info {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        color: rgb(36, 36, 36);
    }
    .comment-content {
        width: calc(100% - 15px);
        height: fit-content;
        margin-top: 6px;
        cursor: default;
    }
    .comment-main {
        width: calc(100% - 80px);
        height: 100%;
        float: left;
    }
    .comment-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }
    .comment-avatar-wrapper {
        width: 100%;
        margin-top: 10px;
        height: calc(100% - 10px);
        display: flex;
        justify-content: center;
    }
    .comment-side {
        width: 80px;
        height: 100%;
        float: left;
    }

    .comment-options-icon {
        right: 20px; 
        top: 10px; 
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; 
        font-size: large; 
        color: rgba(58, 58, 58, 0.85);
        border-radius: 50%;
        transition: background-color 150ms linear;
        cursor: pointer;
    }
    .comment-options-icon:hover {
        background-color: rgba(44, 44, 44, 0.085);
    }

</style>